.App {
  background-image: url('./assets/vectordot.jpg');
  background-size: cover;
  height: 100vh;
}
/* navbar css */
.top-navbar {
  display: flex;
  padding-top: 2vh;
  justify-content: space-evenly;
  width: 100vw;
}

.navLink {
  text-decoration: none;
  font-size: 2vw;
  color: white;
}

.navLink:hover {
  color: orange;
}

/* homepage css */
.home-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
}

.about-box {
  border: 2px solid white;
  padding: 3vw;
  border-radius: 2vw;
}

.hero-text {
  color: white;
}

.about-text {
  color: white;
  font-size: 2vw;
}

.hero-img {
  border-radius: 50%;
  opacity: 75%;
}

.about-box {
  width: 40vw;
}